@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");

body{
  /*font-family: "Montserrat";* (IDUSHAN)*/
}

h1{
  /*font-size: 3.5rem;(TAZIM)*/
}

h2{
  font-size: 3rem;
  line-height: 1.5;
}

h3{
  font-weight: bold;
}

p{
  color: #AFAFAF;
}

#title {
  background-color: #1f82f3;
  color: #fff;
}

.container-fluid {
  padding: 3% 15%;
}

/* Navigation Bar */
.navbar{
  padding-bottom: 4.5rem;
  transition: all ease .45s;
}

.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1rem;
  display: block;
  position: relative;
  padding: 0.2em 0;
}

/* when scrolling */
nav.scroll {
  background-color: #127af1;
  position: fixed;
  transition: all ease .45s;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

nav.scroll .navbar {
  padding-bottom: 1rem;
  margin-left: 20px;
}

/* Fade in */
.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: rgb(255, 252, 252);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.nav-link:hover::after,
.nav-link:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

/* Download Buttons */
.download-button{
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section */
#features{
  padding: 7% 15%;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

.icon{
  color: #1b67be;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #1f82f3;
}

/* Testimonials Section*/
#testimonials {
  text-align: center;
  background-color: #1f82f3;
  color: #fff;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item{
  padding: 7% 15%;
}


/* Team */
#team{
  background-color: #1f82f3;
  text-align: center;
  padding-bottom: 3%;
  color: #fff;
}card

.team-member{
  color: #fff;
}

/* Press */
#press{
  background-color: #1f82f3;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing{
  padding: 100px;
  text-align: center;
}

.pricing-column{
  padding: 3% 2%;
}

/* Call to action */
#cta{
  background-color: #1f82f3;
  color: #fff;
  padding: 7% 15%;
  text-align: center;
}

.cta-heading{
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Footer */
#footer{
  padding: 7% 15%;
  text-align: center;

}

.social-icon{
  margin: 20px 10px;
  text-decoration:none;
  color: inherit;
}

@media (max-width: 1028px) {

  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
  }
}

.card-body{
  margin-bottom: 50px;
}

#button, #button2, #button3{
  width: 90%;
}

.confirmation-slider, .confirmation-slider2, .confirmation-slider3{
  width: 90%;
}

#button, #button2, #button3, .confirmation-slider, .confirmation-slider2, .confirmation-slider3{
  position: absolute;
  bottom: 15px;
}

#status, #status2, #status3 {
  opacity: 0;
  background:rgb(39, 39, 39);
  border-radius: 5px;
  height:52px;
}

#status.fade, #status2.fade, #status3.fade {
  opacity: 1;
  background:rgb(39, 39, 39);
  border-radius: 5px;
  height:52px;
  transition: opacity 1s;
}

#check, #check2, #check3{
  opacity: 1;
  font-size: 15px;
  position: relative;
  top: 15px;
  color:#ffffff;
  transition: 1s;
}

#check.fade, #check2.fade, #check3.fade{
  opacity: 0;
  font-size: 15px;
  color:#ffffff;
  transition: opacity 1s;
}

.delete-notice.fade, .delete-notice2.fade, .delete-notice3.fade { 
  opacity: 1;
  font-size:20px;
  position: relative;
  bottom: 87px;
  color:#ffffff;
  transition: 1s; 
}

.delete-notice, .delete-notice2, .delete-notice3 {
  opacity: 0;
  font-size:20px;
  line-height:100px;
  color:#fcfcfc;
  transition: 1s;
 }

#confirm, #confirm2, #confirm3 {
  opacity: 1;
  appearance:none!important;
  background:transparent;
  position: relative;
  bottom: 17px;
  padding:0 5px;
  width:100%;
  transition: opacity 1s;
}

#confirm.fade, #confirm2.fade, #confirm3.fade {
  opacity: 0;
  appearance:none!important;
  background:transparent;
  position: relative;
  bottom: 17px;
  padding:0 5px;
  width:100%;
}

#confirm::-webkit-slider-thumb, #confirm2::-webkit-slider-thumb, #confirm3::-webkit-slider-thumb {
  appearance:none!important;
  height:40px;
  width:60px;
  border-radius: 5px;
  border:1px solid #ffffff;
  background-color: #1b67be;
  cursor:pointer;
  will-change: auto;
 }

#confirm:hover::-webkit-slider-thumb, #confirm2:hover::-webkit-slider-thumb, #confirm3:hover::-webkit-slider-thumb {
 border-color:#ffffff;
 }
